@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Tangerine:wght@700&family=Lobster+Two:ital,wght@1,400;1,700&display=swap');

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-- global-var --*/
:root {
    --logo--font: 'Viaoda Libre', cursive;
    --head--font: 'Lobster Two', cursive;;
    --content--font: 'Poppins', sans-serif;
    --underline--color: #81d8d0;
}

































/*----------------------- The Tiffany Experience -------------*/
.exper {
    background-color: #f8f6f6;
    padding: 20px 0 70px;
    margin-top: 1000px;
}
.header-content {
    text-align: center;
    font-family: var(--head--font);
    font-weight: bold;
}
.col-lg {
    text-align: center;
    margin-top: 50px;
}
.col-lg h5 {
    text-align: center;
    font-family: var(--content--font);
    font-size: 15px;
    font-weight: 500;
}
.col-lg p {
    text-align: center;
    font-family: var(--content--font);
    font-size: 13px;
    letter-spacing: 1.2px;
}
.col-lg a {
    text-decoration: none;
    color: #000;
    font-family: var(--content--font);
    font-size: 14px;
    font-weight: 600;
}
.col-lg a:hover {
    color: var(--underline--color);
}
/*------------- The Tiffany Experience (responsive) ------------------*/
#carouselExampleIndicators {
    display: none;
    background-color: #f8f6f6;
    padding: 20px 0 70px;
    margin-top: 1000px;
}
@media screen and (max-width: 740px) {
    .exper {
        display: none;
    }
    .col-lg {
        margin-top: 30px;
    }
    #carouselExampleIndicators {
        display: block;
    }       
}
/*----------------------------- Foooter ---------------------------------*/
footer {
    position: relative;
    padding-top: 50px;
    border-top: 5px solid var(--underline--color);
    margin-top: 30px;
}
#footer-email h5 {
    font-family: var(--content--font);
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
#footer-email p {
    font-family: var(--content--font);
    font-size: 11px;
}
form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--underline--color);
    transition: .7s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: var(--underline--color);
    font-size: 11px;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.sign {
    border: 1px solid black;
    font-family: var(--content--font);
    font-size: 14px;
    font-weight: 700;
    color:#000;
    background-color: white;
    padding: 8px 52px;
}
.sign:hover {
    border: 1px solid var(--underline--color);
    background-color: var(--underline--color);
    color: white;
}
#Care h5, #Company h5, #Social h5 {
    font-size: 15px;
    font-family: var(--content--font);
    font-weight: 600;
    border-bottom: 1px solid #000;
    width: 135px;
    margin-bottom: 15px;
    padding-bottom: 2px;
}
#Care ul, #Company ul, #Social ul {
    list-style: none;
    line-height: 2.2;
}
#Care a, #Company a, #Social a {
    text-decoration: none;
    font-family: var(--content--font);
    font-size: 12px;
    font-weight: 500;
    color:#000;
}
.details {
    padding: 0;
}
#Care a::after, #Company a::after, #Social a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--underline--color);
    transition: width 0.5s;
}
#Care a:hover::after, #Company a:hover::after, #Social a:hover::after {
    width: 135px;
    transition: width 0.5s;
}
.img-fluid {
    min-width: 300px;
}
.col-5 {
    max-width: 500px;
    min-width: 300px;
}
.col-6 {
    max-width: 350px;
    min-width: 230px;
    position: relative;
    left: 20px;
}
.col-sm {
    max-width: 215px;
    margin-left: 100px;
}
.row row-cols-3 {
    margin-left: 200px;
}
.web-end {
    width: 100%;
}
.col-md p {
    text-align: center;
    margin-top: 100px;
}
/*----------------- Footer (tablet) ---------------------------*/
.footer-email-tablet {
    max-width: 415px;
    position: relative;
    top: 50px;
    right: 35%;
    border-right: 1px solid var(--underline--color);
    height: 250px;
    padding-right: 50px;
    display: none;
}
.footer-email-tablet h5 {
    font-family: var(--content--font);
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
.footer-email-tablet p {
    font-family: var(--content--font);
    font-size: 11px;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--underline--color);
}        
/*----------------- Footer (smartphone) ---------------------------*/
.accordion {
    display: none;
}
.accordion-item {
    background-color: white;
}
button .accordion-button collapsed {
    background-color: var(--underline--color);
}
.accordion-item h2 {
    font-family: var(--content--font);
    font-size: 15px;
    font-weight: 600;
}
.accordion-item p {
    font-family: var(--content--font);
    font-size: 12px;
}
.accordion-item ul{
    list-style: none;
    line-height: 2.2;
}
.accordion-item a {
    text-decoration: none;
    font-family: var(--content--font);
    font-size: 14px;
    font-weight: 500;
    color:#000;
}
.accordion-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--underline--color);
    transition: width 0.5s;
}
.accordion-item a:hover::after {
    transition: width 0.5s;
    width: 21%;
}
.accordion-item a:hover {
    font-weight: bold;
}
@media screen and (max-width: 1645px){
    .col-6 {
        display: none;
    }
    .col-5 {
        display: none;
    }
}
@media screen and (max-width: 1024px){
    .container-sm {
        padding-right: 100px;
    }
    .col-6 {
        display: none;
    }
    .col-5 {
        margin-top: 50px;
        position: relative;
        left: 55%;
        top: 10px;
        display: block;
    }
    .footer-email-tablet {
        display: block;
    }
    .container-sm {
        border-bottom: 1px solid var(--underline--color);
    }
}
@media screen and (max-width: 900px){
    #footer-pc {
        display: none;
    }
    .accordion {
        display: block;
    }
}
